<div class="sidebar-module sidebar-module-inset">
  <div class="section">
    <div><img width="220" src="<%- config.root %><%= theme.imgbg %>" alt=""/></div>
    <div class="section-avatar">
      <img class="avatar" src="<%- config.root %><%= theme.imglogo.src %>" alt=""/>
    </div>
    <div class="section-about">
      <div class="name"><%- theme.about_widget_name %></div>
      <div class="desc"><%- theme.about_widget_content %></div>
    </div>
    <div class="github-star">
      <div class="iframe-wrapper">
        <iframe src="https://ghbtns.com/github-btn.html?user=yankuangshi&repo=hexo-theme-blogger&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
      </div>
    </div>
  </div>
</div>
